.Pagination {
	display:flex;
	flex-direction:row;
	width:100%;
	height: 5vh;
}
.Pagination-scroller {
	display:flex;
	width:90%;
}
.Pagination-sizer {
	display:flex;
	width:10%;
	background-color:orange;
}