.Filter {
  display:flex;
  flex-direction:column;
  background-color:#fcc00e;
  min-height: 15vh;
  width: 100%;
  margin-top:0.5rem;
  margin-bottom:0.5rem;
}
.Filter-criteria {
  display:flex;
  flex-direction:column;
  margin-left:0.5rem;
  margin-right:0.5rem;
  margin-bottom:0.5rem;
}
.Filter-criteria-item {
  display:flex;
  flex-direction:row;
}
.Filter-criteria-item-left {
  display:flex;
  flex-direction:row;
  width:25%;
}
.Filter-criteria-item-label {
  width:100%;
  padding-top:0.5rem;
  padding-left:0.5rem;
  margin-bottom:0.5rem;
  min-height:3rem;
  font-weight:bold;
  font-size:1rem;
  background-color:orange;
}
.Filter-criteria-item-value {
  display:flex;
  flex-direction:row;
  background-color:orange;
  width:100%;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  //padding-bottom:0.5rem;
  //margin-bottom: 0.5rem;
  min-height:3rem;
  background-color:white;
  width:100%;
}
.Filter-criteria-item-value-selected {
  display:flex;
  width:80%;
}
.Filter-criteria-item-value-select {
  display:flex;
  width:30%;
  justify-content: flex-end;
}
.Filter-criteria-item-select {
    display:flex;
    font-size:0.8rem;
    padding-bottom:0.5rem;
    margin-bottom:0.5rem;
    margin-right:0.5rem;
} 
.Filter-criteria-item-select:focus {
  outline-style:none;
}
.Filter-criteria-item-right {
  display:flex;
  flex-direction:column;
  width:75%;
}
.Filter-criteria-select-values-show{
	display:block;
}
.Filter-criteria-select-values-hide{
	display:none;
}

.Filter-select-option-wrapper{
	width:100%;
	background-color: blue;
	padding:0.5rem;
}
.Filter-select-option{
	width:100%;
	background-color: #fcc00e;
	padding-left:0.5rem;
	height:1.5rem;
}
.Filter-select-option:hover{
	width:100%;
	background-color: orange;
	padding-left:0.5rem;
}






