.Search {
  display:flex;
  background-color: red;
  width:50%;
}
.Search-form {
  display:flex;
  background-color:#FFF;
  min-width: 100%;
}
.Search-form-input {
  display:flex;
  background-color:#FFF;
  height:8vh;
  width: 100%;
  padding:0.5rem;
  font-size:1.3rem;
}
.Search-form-input:focus {
  outline-style:none;
}